# íŒ¨í‚¤ì§€

In [ ]:
# pip install emoji

In [ ]:
import emoji

In [ ]:
print(emoji.emojize('Phd is very easy!!! :thumbs_up:'))

In [ ]:
print('ðŸ˜')

In [ ]:
print(emoji.emojize(':red_heart:'))

In [ ]:
import emoji as e # ì´ ë°©ë²•ì„ ë§Žì´ ì‚¬ìš©í•  ê²ƒì´ë‹¤.

In [ ]:
from emoji import emojize #ì´ ë°©ë²•ì€ ë³„ë¡œ ì¢‹ì§€ ì•Šë‹¤.

In [ ]:
print(emoji.emojize('Phd is very easy!!! :thumbs_up:'))

In [ ]:
e.emojize

In [ ]:
# pip install pydataset

In [ ]:
import pydataset as pds

In [ ]:
pds.data()

In [ ]:
type(pds.data())

In [ ]:
import pydataset as pds

In [ ]:
data = pds.data()

In [ ]:
data.head(1)

In [ ]:
data[data['dataset_id'] == 'mtcars']

In [ ]:
data['dataset_id'] == 'mtcars'

In [ ]:
data[data['dataset_id'] == 'mtcars']

In [ ]:
pds.data('mtcars')

In [ ]:
df = pds.data('mtcars')

In [ ]:
df

In [ ]:
df.shape #ë°ì´í„°ì˜ ê°¯ìˆ˜ë¥¼ í™•ì¸í•  ë•Œ ì‚¬ìš©í•˜ëŠ” í•¨ìˆ˜

In [ ]:
df['am'].value_counts()

In [ ]:
#ë³€ì†ê¸°ê°€ ìžë™ì´ë©´ì„œ ë³€ì†ê¸°ì–´ìˆ˜ì¸ 4ê°œì¸ ì• ë“¤ ì°¾ì•„ë³´ë¼.

In [ ]:
df[(df['am'] == 0) & (df['gear'] == 4)]

In [ ]:
len(df[(df['am'] == 0) & (df['gear'] == 4)])

In [ ]:
#'HairEyeColor'ë¡œ ë¬¸ì œ ë§Œë“¤ì–´ì„œ í’€ì–´ë³´ê¸°

In [ ]:
df2 = pds.data('HairEyeColor')

In [ ]:
df2

In [ ]:
# í—¤ì–´ëŠ” ê²€ì •, ëˆˆì€ brown, ë‚¨ìžì¸ ì‚¬ëžŒì€?

In [ ]:
hair_mapping = {}
for i, j in enumerate(['Black', 'Blue', 'Red', 'Blond']) :
    print(i, j)

In [ ]:
eye_mapping = {}
for i, j in enumerate(['Brown', 'Blue', 'Hazel', 'Green', ]) :
    print(i, j)

In [ ]:
gender_mapping = {}
for i, j in enumerate(['Female', 'Male']) :
    print(i, j)

In [ ]:
df2[(df2['Hair'] == 'Black') & (df2['Eye'] == 'Brown') & (df2['Sex'] == 'Male')]

In [ ]:
len(df2[(df2['Hair'] == 'Black') & (df2['Eye'] == 'Brown') & (df2['Sex'] == 'Male')])

In [ ]:
# í—¤ì–´ ì•„ì´ ì»¬ëŸ¬ì—ì„œ ì„±ë³„ì— ë°ì´í„° íƒ€ìž…ì„ í™•ì¸í•˜ê³  ë‚¨ìžëŠ” 0 ì—¬ìž 1 (ì •ì„­ë‹˜ì´ ë§Œë“  ë¬¸ì œ)

In [ ]:
df2.info()

In [ ]:
gender_mapping = {}
for i, j in enumerate(['Male', 'Female']) :
    print(i, j)

In [ ]:
df2['Hair'], df2['Eye'], df2['Sex']

In [ ]:
#ë°ì´í„° í”„ë ˆìž„ìœ¼ë¡œ ë¶„ì„í•˜ê¸° (p.81 ~ )

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'name': ['ê¹€ì§€í›ˆ', 'ì´ìœ ì§„', 'ë°•ë™í˜„', 'ê¹€ë¯¼ì§€'],
                  'english': [90, 80, 60, 70],
                  'math' : [50, 60, 100, 20]})

In [ ]:
df

In [ ]:
df['english'].sum() # í•©

In [ ]:
df['english'].mean() # í‰ê·

In [ ]:
df1 = df.rename({'name':'ì´ë¦„', 'english':'ì˜ì–´ì ìˆ˜', 'math':'ìˆ˜í•™ì ìˆ˜'}, axis=1)

In [ ]:
df1

In [ ]:
df2 = df1

In [ ]:
df2

In [ ]:
df2.rename({'ì´ë¦„':'name'}, axis=1, inplace = True)

In [ ]:
df2

In [ ]:
df1

In [ ]:
df1['name'] = 'í™ê¸¸ë™'

In [ ]:
df2

In [ ]:
df3 = df1

In [ ]:
df3['ì´ë¦„'] = 'ì˜ˆì§„'

In [ ]:
df3

In [ ]:
# df1 ì›ë³¸
# df2 ê·¸ëƒ¥ ë³€ìˆ˜ëª… ë³µì‚¬ / ì–•ì€ë³µì‚¬(swallo copy) (ì–•ì€ ë³µì‚¬ëŠ” ë©”ëª¨ë¦¬ ìš©ëŸ‰ì„ ì¤„ì¼ ìˆ˜ ìžˆìŒ) (íŒŒì´ì¬ì€ ì–•ì€ë³µì‚¬ê°€ ê¸°ë³¸ìž„)
# df3 copy() / ê¹Šì€ ë³µì‚¬(deep copy) (ê¹Šì€ ë³µì‚¬ëŠ” ë©”ëª¨ë¦¬ ìš©ëŸ‰ì´ ëŠ˜ì–´ë‚¨)

In [ ]:
#idë¥¼ ë¶™ì´ëŠ” ì´ìœ ëŠ”?????? ìœ„ì¹˜ë¥¼ ì•Œê¸° ìœ„í•¨
print(id(df1))
print(id(df2))
print(id(df3))

In [ ]:
# íŒŒìƒë³€ìˆ˜ ë§Œë“¤ê¸° p116

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'var1':[4, 3, 8],
                   'var2':[2, 6, 1]})

In [ ]:
df

In [ ]:
df['var_sum'] = df['var1'] + df['var2']

In [ ]:
df['var_mean'] = (df['var1'] + df['var2']) / 2

In [ ]:
df

In [ ]:
import pydataset as pds

In [ ]:
mpg = pds.data('mpg', show_doc = True)

In [ ]:
mpg = pds.data('mpg')

In [ ]:
mpg

  * cty. city miles per gallon 

  * hwy. highway miles per gallon 
  
  ì´ 2ê°€ì§€ì˜ í† íƒˆì„ ë‚¼ ê²ƒì´ë‹¤.

In [ ]:
mpg['total'] = (mpg['cty'] + mpg['hwy'])/2

In [ ]:
mpg

In [ ]:
mpg['total'].mean()

In [ ]:
len(mpg[mpg['total'] > 20]) #totalì´ 20ë³´ë‹¤ í° ì• ë“¤ì´ ê°¯ìˆ˜ êµ¬í•  ë•Œ ì‚¬ìš©í•¨

In [ ]:
# 20 > pass
# 20 <= fail

In [ ]:
mpg

In [ ]:
# .applyë¥¼ ì‚¬ìš©í•˜ì—¬ ~
def isPass(t) :
    if t > 20 :
        return 'Pass'
    else :
        return 'Fail'

In [ ]:
mpg['total'].apply(isPass)

In [ ]:
mpg['test'] = mpg['total'].apply(isPass) #-> ë¬´ìŠ¨ ë§ì¸ì§€ ì ê¸°!

In [ ]:
mpg['test'].value_counts()

In [ ]:
mpg

mpg['grade']
# mpg['total'] >= 30 'A'
# mpg['total'] >= 20 'B'
#else 'C'

def mpg(g) :
    if g >= 30 :
        return 'A'
    elif 20 <= g < 30 :
        return 'B'
    else :
        return 'C'

mpg['grade'].apply(mpg)

In [ ]:
mpg

In [ ]:
def doGrade(t) :
    if t >= 30 :
        return 'A'
    elif t >= 20 :
        return 'B'
    else :
        return 'C'

In [ ]:
mpg['Grade'] = mpg['total'].apply(doGrade)

In [ ]:
mpg['Grade'].value_counts()

In [ ]:
mpg['Grade'].value_counts().sort_index()

In [ ]:
len(mpg[mpg['total'] >= 30])

In [ ]:
len(mpg[mpg['total'] < 20])

In [ ]:
# numpyë¥¼ ì‚¬ìš©í•  ê²ƒì´ë‹¤. / np.where

In [ ]:
import numpy as np

In [ ]:
np.where(mpg['total'] > 20, 'Pass', 'Fail')

In [ ]:
mpg['test2'] = np.where(mpg['total'] > 20, 'Pass', 'Fail')

In [ ]:
mpg['test2'].value_counts()

In [ ]:
np.where(mpg['total'] > 30, 'A', 
         np.where(mpg['total'] > 20, 'B', 
                  np.where(mpg['total'] > 10, 'C', 'D')))

In [ ]:
mpg['Grade2'] = (np.where(mpg['total'] >= 30, 'A', 
                np.where(mpg['total'] >= 20, 'B', 'C')))

In [ ]:
mpg['Grade2'].value_counts()

In [ ]:
mpg['class'].unique()

In [ ]:
# .apply ë˜ëŠ” np.whereì„ í™œìš©í•´ì„œ ë¬¸ì œë¥¼ í’€ì–´ë³´ì‹œì˜¤.
# class -> compact, subcompact, 2seater => small / ë‚˜ë¨¸ì§€ëŠ” large 
# (ë‚˜ì˜ ë²„ì „)

In [ ]:
# .applyë¥¼ ì‚¬ìš©í•˜ì—¬ ~
def appSize(i) :
    if i == 'compact' :
        return 'small'
    elif i == 'subcompact' :
        return 'small'
    elif i == '2seater' : 
        return 'small'
    else :
        return 'large'

In [ ]:
x = mpg['class'].apply(appSize)

In [ ]:
x.value_counts()

In [ ]:
import numpy as np

In [ ]:
mpg['size2'] = np.where(mpg['total'] == 'compact', 'Small', 
                        np.where(mpg['total'] == 'subcompact', 'Small', 
                                 np.where(mpg['total'] == '2seater', 'Small', 'large')))

In [ ]:
# np.whereë¥¼ ì‚¬ìš©í•˜ì—¬ ~
def npSize(i) :
    if ì¡°ê±´ :
        return 'compact'
    elif ì¡°ê±´ :
        return 'subcompact'
    elif ì¡°ê±´ : 
        return '2seater'
    else :
        return 'large'

In [ ]:
mpg['size2']

In [ ]:
# .apply ë˜ëŠ” np.whereì„ í™œìš©í•´ì„œ ë¬¸ì œë¥¼ í’€ì–´ë³´ì‹œì˜¤.
# class -> compact, subcompact, 2seater => small / ë‚˜ë¨¸ì§€ëŠ” large
# (ê°•ì‚¬ë‹˜ ë²„ì ¼)

In [ ]:
def isSize(c) :
    l = ['compact', 'subcompact', '2seater']
    if c in l :
        return 'small'
    return 'large'

In [ ]:
mpg['size'] = mpg['class'].apply(isSize)

In [ ]:
mpg['size'].value_counts()

In [ ]:
len(mpg[mpg['class'].isin(['compact', 'subcompact', '2seater'])])

In [ ]:
np.where((mpg['class'] == 'compact') | 
         (mpg['total'] == 'subcompact') |
         (mpg['total'] == '2seater'), 'Small', 'large')

In [ ]:
mpg['size2'] = np.where(mpg['class'].isin(['compact', 'subcompact', '2seater']), 
                        'small', 'large')

In [ ]:
len(mpg[mpg['class'].isin(['compact', 'subcompact', '2seater'])])

In [ ]:
#p130 ë¬¸ì œ 2~3ë²ˆ

In [ ]:
#ë¬¸ì œ2ë²ˆ

In [ ]:
import pandas as pd

In [ ]:
midwest = pd.read_csv('midwest.csv')

In [ ]:
midwest

In [ ]:
midwest = midwest.rename({'poptotal':'total', 'popasian':'asian' }, axis=1)
# midwest = midwest.rename({'poptotal':'total', 'popasian':'asian' }, axis=1, inplace = True)
# midwest = midwest.rename(columns = {'poptotal':'total', 'popasian':'asian' })

In [ ]:
midwest

In [ ]:
#ë¬¸ì œ3ë²ˆ

In [ ]:
midwest['percent'] = (midwest['asian'] / midwest['total']) * 100

In [ ]:
midwest['percent']

In [ ]:
#ë¬¸ì œ4ë²ˆ

In [ ]:
#np.whereë¡œ í’€ì–´ë´„
midwest['percent'].mean()

In [ ]:
import numpy as np

In [ ]:
midwest['size'] = np.where(midwest['percent'] > midwest['percent'].mean(),
                           'large', 'small')

In [ ]:
midwest['size'].value_counts()

In [ ]:
#.applyë¡œ í’€ì–´ë´„

In [ ]:
def isSize(percent, mean) :
    if percent > mean :
        return 'large'
    return 'small'

In [ ]:
midwest['size2'] = \
midwest['percent'].apply(isSize, args=[midwest['percent'].mean()])

In [ ]:
midwest['size2'].value_counts()

In [ ]:
# p176 ë¬¸ì œ í’€ê¸°

In [ ]:
# 1ë²ˆ

In [1]:
import pandas as pd

In [2]:
midwest = pd.read_csv('midwest.csv')

In [3]:
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [4]:
midwest['menor']= ((midwest['poptotal']-midwest['popadults']) / (midwest['poptotal'])) * 100

In [5]:
midwest['menor']

0      34.486307
1      36.721250
2      35.501301
3      37.440758
4      31.819740
         ...
432    35.731093
433    34.693302
434    31.307712
435    36.602052
436    36.422797
Name: menor, Length: 437, dtype: float64

In [31]:
midwest[['poptotal', 'popadults', 'menor', 'adults']]

     poptotal  popadults      menor     adults
0       66090      43298  34.486307  65.513693
1       10626       6724  36.721250  63.278750
2       14991       9669  35.501301  64.498699
3       30806      19272  37.440758  62.559242
4        5836       3979  31.819740  68.180260
..        ...        ...        ...        ...
432    304715     195837  35.731093  64.268907
433     46104      30109  34.693302  65.306698
434     19385      13316  31.307712  68.692288
435    140320      88960  36.602052  63.397948
436     73605      46796  36.422797  63.577203

[437 rows x 4 columns]

In [30]:
midwest['adults']= midwest['popadults'] / midwest['poptotal'] * 100

In [ ]:
m

In [34]:
midwest['grade'] = np.where(midwest['menor'] >= 40, 'large',
        np.where(midwest['menor'] >= 30, 'middle', 'small'))

In [42]:
midwest['grade'].value_counts()

middle    396
large      32
small       9
Name: grade, dtype: int64

In [26]:
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,menor
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797

In [7]:
# 2ë²ˆ

midwest['menor'].sort_values()[['county', 'menor']]

In [8]:
midwest.sort_values('menor')[['county', 'menor']]

        county      menor
235   KEWEENAW  24.338624
265  ROSCOMMON  27.007484
229       IRON  27.180266
194     ALCONA  27.373090
365      ADAMS  27.445479
..         ...        ...
154     MONROE  47.358182
247    MECOSTA  49.059183
281     ATHENS  49.320727
404  MENOMINEE  50.591260
230   ISABELLA  51.501172

[437 rows x 2 columns]

In [9]:
midwest.sort_values('menor', ascending=False)[['county', 'menor']][:5]

        county      menor
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182

In [10]:
midwest.sort_values('menor', ascending=False)[['county', 'menor']].head()

        county      menor
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182

In [11]:
# 3ë²ˆ

In [45]:
midwest.sort_values('menor', ascending = False)[['county', 'menor']].head()

        county      menor
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182

In [46]:
midwest.sort_values('menor', ascending = False)[['county']].head()

        county
230   ISABELLA
404  MENOMINEE
281     ATHENS
247    MECOSTA
154     MONROE

In [14]:
import numpy as np

In [24]:
np.where(midwest['menor'] >= 40), 'large', np.where(midwest['menor'] >= 30, 'middle', 'small')

((array([  9,  14,  18,  38,  54,  56, 102, 119, 145, 154, 180, 224, 226,
         227, 230, 245, 247, 263, 274, 281, 309, 314, 343, 345, 363, 381,
         382, 386, 396, 404, 412, 414], dtype=int64),),
 'large',
 array(['middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'small', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'small', 'middle', 'middle', 'middle', 'middle',
        'middle', 'small', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'small', 'middle', 'middle', 'middle', 'middle',
        'middle', 'small', 'middle', 'middle', 'middle', 'middle',
        'middle', 'small', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'small',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'small', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle', 'middle',
        'middle', 'middle', 'small', 'middle', 'middle', 'middle',
        'middle', 'middle', 'middle', 'middle', 'middle'], dtype='<U6'))

In [47]:
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,menor,adults,grade
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,65.513693,middle
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,63.278750,middle
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,64.498699,middle
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,62.559242,middle
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,68.180260,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,64.268907,middle
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,65.306698,middle
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,68.692288,middle
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,63.397948,middle
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,63.577203,middle

In [ ]:
# 4ë²ˆ

In [48]:
midwest['total1'] = midwest['popasian'] / midwest['poptotal'] * 100

In [50]:
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,menor,adults,grade,total1
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,65.513693,middle,0.376759
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,63.278750,middle,0.451722
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,64.498699,middle,0.106731
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,62.559242,middle,0.486918
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,68.180260,middle,0.085675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,64.268907,middle,0.885746
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,65.306698,middle,0.199549
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,68.692288,middle,0.221821
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,63.397948,middle,1.231471
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,63.577203,middle,0.980912

In [52]:
midwest.sort_values('total1')[['state', 'county', 'total1']].head()

    state     county    total1
404    WI  MENOMINEE  0.000000
105    IN     BENTON  0.010592
109    IN    CARROLL  0.015950
358    OH     VINTON  0.027032
390    WI       IRON  0.032504

In [ ]:
#

In [ ]:
len(midwest['state'].unique())

In [ ]:
midwest.groupby('state')['asian_per'].mean().sort_values()

In [ ]:
midwest

In [ ]:
midwest['inmetro'].value_counts()

In [ ]:
midwest.loc[0, 'county'] = 'Hojin'

In [ ]:
midwest.apply

In [ ]:
np.where