In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('insurance.csv')

In [4]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [8]:
data.duplicated()#중복된 데이터가 있는지 확인할 때 사용하는 함수

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

In [9]:
data[data.duplicated()]#중복된 데이터가 있는지 확인할 때 사용하는 함수

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [10]:
data[data['charges'] == 1639.5631]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [13]:
data = data.drop_duplicates()

In [16]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [22]:
obj_col = ['sex', 'children', 'smoker', 'region']

In [23]:
for col in obj_col :
    print(col, data[col].unique()) #

sex ['female' 'male']
children [0 1 3 2 5 4]
smoker ['yes' 'no']
region ['southwest' 'southeast' 'northwest' 'northeast']

In [28]:
for col in obj_col :
    print(col,'\n',data[col].value_counts()) # 칼럼에 대한 각각의 수를 파악할 수 있음
    print('-----------')

sex
 male      675
female    662
Name: sex, dtype: int64
-----------
children
 0    573
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64
-----------
smoker
 no     1063
yes     274
Name: smoker, dtype: int64
-----------
region
 southeast    364
southwest    325
northwest    324
northeast    324
Name: region, dtype: int64
-----------

In [29]:
data.groupby('smoker')['charges'].median() #흡연자별 보험료

smoker
no      7345.72660
yes    34456.34845
Name: charges, dtype: float64

In [30]:
data.groupby('region')['charges'].median() #지역별 보험료

region
northeast    10057.652025
northwest     8976.977250
southeast     9294.131950
southwest     8798.593000
Name: charges, dtype: float64

In [38]:
q1 = data['charges'].quantile(0.25) #제 1사분위수

In [39]:
q3 = data['charges'].quantile(0.75) #제 3사분위수

In [40]:
outlier = q3 + (q3 - q1) * 1.5 #이상치 값 구할 때

In [41]:
data[data['charges'] > outlier]

      age     sex     bmi  children smoker     region      charges
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1300   45    male  30.360         0    yes  southeast  62592.87309
1301   62    male  30.875         3    yes  northwest  46718.16325
1303   43    male  27.800         0    yes  southwest  37829.72420
1313   19  female  34.700         2    yes  southwest  36397.57600
1323   42  female  40.370         2    yes  southeast  43896.37630

[139 rows x 7 columns]

In [42]:
data[data['charges'] <= outlier]

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1198 rows x 7 columns]

In [43]:
data['charges'].mean()

13279.121486655948

In [44]:
data['charges'].median()

9386.1613

In [45]:
from sklearn.preprocessing import LabelEncoder

In [48]:
#문자열->숫자로 바꿔 줌
col_list = ['sex', 'smoker', 'region']
for col in col_list :
    label = LabelEncoder()
    label.fit(data[col].unique())
    data[col] = label.transform(data[col])

In [49]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1337 rows x 7 columns]

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, randeom_state = 0)

In [ ]:
model = LinearRegression()

In [ ]:
#train

In [ ]:
model.fit(x_train, y_train)

In [ ]:
pre_train = model.predict(x_train)

In [ ]:
mean_absolute_error(pre_train, y_train)

In [ ]:
model.score(x_train, y_train)

In [ ]:
#test

In [ ]:
pre_test = model.predict(x_test)

In [ ]:
mean_absolute_error(pre_test, y_test)

In [ ]:
model.score(x_test, y_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
pre_test = model.predict(x_test)

In [ ]:
mean_absolute_error(pre_test, y_test)

In [ ]:
accuracy_score(model.predict(x_test), y_test)

In [ ]:
model.score(x_test, y_test)

In [ ]:
#LabelEncoder까지 해준 후 train_test_split 하기 전에 이 부분을 해주어야 한다!!!!!!!!!
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
pol = PolynomialFeatures(degree = 2)

In [ ]:
x_pol = pol.fit_transform(x)

In [ ]:
pol.get_feature_names()

In [ ]:
x_pol[0]

----

# Medical Insurance Data
## Medical Insurance 데이터를 이용해서 보험료('charges') 예측하기

In [ ]:
모델을 바꾸거나(=좋은 모델을 사용해야 하거나), 다항회귀로 바꾸어주어야한다.

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
corr = data.corr().round(2)

In [ ]:
plt.figure(figsize = (10, 10))
sns.heatmap(corr, annot = True)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('insurance.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df.describe()

In [ ]:
plt.figure(figsize = (5, 5))
style.use('ggplot')
sns.countplot(x = 'sex', data = df)
plt.title('Gender Distribution')
plt.show()

In [ ]:
plt.figure(figsize = (5, 5))
sns.countplot(x = 'smoker', data = df)
plt.title('Smoker')
plt.show()

In [ ]:
plt.figure(figsize = (5, 5))
sns.countplot(x = 'region', data = df)
plt.title('Region')
plt.show()

In [ ]:
plt.figure(figsize = (5, 5))
sns.barplot(x = 'region', y = 'charges', data = df)
plt.title('Cost vs Region')

In [ ]:
plt.figure(figsize=(5,5))
sns.barplot(x='smoker', y='charges', data = df)
plt.title('Charges for smokers')

In [ ]:
plt.figure(figsize=(5,5))
sns.barplot(x='sex', y='charges', hue = 'smoker', data = df)
plt.title('Charges for smokers')

In [ ]:
fig, axes = plt.subplots(1,3, figsize=(15,5), sharey=True)
fig.suptitle('Visualizing categorical columns')
sns.boxenplot(x='smoker', y='charges', data=df, ax=axes[0])
sns.boxenplot(x='sex', y='charges', data=df, ax=axes[1])
sns.boxenplot(x='region', y='charges', data=df, ax=axes[2])

In [ ]:
df[['age', 'bmi', 'children', 'charges']].hist(bins = 30, figsize = (10, 10), color = 'blue')

In [ ]:
df.head()

In [ ]:
df['sex'] = df['sex'].apply({'male':0, 'female':1}.get)
df['smoker'] = df['smoker'].apply({'yes':1, 'no':0}.get)
df['region'] = df['region'].apply({'southwest':1, 'southeast':2, 'northwest':3, 'northeast':4}.get)

In [ ]:
df.head()

In [ ]:
plt.figure(figsize = (10, 7))
sns.heatmap(df.corr(), annot = True)
plt.show()

In [ ]:
X = df.drop(['charges', 'sex'], axis = 1)
y = df.charges