In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pickle

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
loan_data = pd.read_csv('loan.csv')

In [3]:
loan_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
loan_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
#전처리

In [ ]:
#object의 칼럼들만 리스트로 따로 모아라.
obj_col = []
for i, j in zip(loan_data.dtypes.index, loan_data.dtypes.values) :
    if j == 'object' :
        obj_col.append(i)

In [ ]:
obj_col

In [ ]:
for col in obj_col[1:] :
    print(loan_data[col].unique())

In [ ]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed']

In [ ]:
# 찍어보기 위함
for col in null_col :
    print(loan_data[col].value_counts(dropna=False))

In [ ]:
for col in null_col :
    loan_data[col].fillna(loan_data[col].mode()[0], inplace=True)

In [ ]:
loan_data['LoanAmount'].fillna(loan_data['LoanAmount'].mode()[0], inplace = True)

In [ ]:
loan_data['Loan_Amount_Term'].fillna(loan_data['Loan_Amount_Term'].mode()[0], inplace = True)

In [ ]:
loan_data['Credit_History'].fillna(loan_data['Credit_History'].mode()[0], inplace = True)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label = LabelEncoder()

In [ ]:
#
for col in obj_col[1:] :
    label = LabelEncoder()
    loan_data[col] = label.fit_transform(loan_data[col])

---

In [ ]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed']
for col in null_col :
    loan_data[col].fillna(loan_data[col].mode()[0], inplace=True)
    
loan_data['LoanAmount'].fillna(loan_data['LoanAmount'].mode()[0], inplace = True)
loan_data['Loan_Amount_Term'].fillna(loan_data['Loan_Amount_Term'].mode()[0], inplace = True)
loan_data['Credit_History'].fillna(loan_data['Credit_History'].mode()[0], inplace = True)

In [ ]:
obj_col = ['Gender', 'Married', 'Dependents','Education','Self_Employed','Property_Area']

---

In [ ]:
# 모델 학습

In [ ]:
X = loan_data.drop(['Loan_ID', 'Loan_Status'], axis = 1)
Y = loan_data['Loan_Status']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=0)

In [ ]:
model = SVC()

In [ ]:
model

In [ ]:
model.fit(x_train, y_train)

In [ ]:
model.score(x_train, y_train)

In [ ]:
model.score(x_test, y_test)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
x_train = scaler.fit_transform(x_train)

In [ ]:
with open('scaler.pkl', 'wb') as f :
    pickle.dump(scaler, f)

In [ ]:
x_test = scaler.transform(x_test)

In [ ]:
model2 = SVC()

In [ ]:
model2.fit(x_train, y_train)

In [ ]:
model2.score(x_train, y_train)

In [ ]:
model2.score(x_test, y_test)

In [ ]:
#모델 저장

In [ ]:
with open('model2.pkl', 'wb') as f :
    pickle.dump(model2, f)

----

In [ ]:
Real system에 필요한 전처리 코드

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pickle

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [ ]:
loan_data = pd.read_csv('loan.csv')

In [ ]:
#1

In [ ]:
null_dict = {}

null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed']
for col in null_col :
    null_dict[col] = loan_data[col].mode()[0]
    
null_dict['LoanAmount'] = loan_data['LoanAmount'].median()
null_dict['Loan_Amount_Term'] = loan_data['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History'] = loan_data['Credit_History'].mode()[0]

In [ ]:
#바로 위에 코드랑 같은 코드임
null_dict = {}

null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'Loan_Amount_Term', 'Credit_History']
for col in null_col :
    null_dict[col] = loan_data[col].mode()[0]
    
null_dict['LoanAmount'] = loan_data['LoanAmount'].median()

In [ ]:
null_dict

In [ ]:
with open('null_dict.pkl', 'wb') as f :
    pickle.dump(null_dict, f)

In [ ]:
with open('null_dict.pkl', 'rb') as f :
    null_dict = pickle.load(f)

----

In [ ]:
#2

In [ ]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

In [ ]:
#
for col in obj_col :
    label = LabelEncoder()
    loan_data[col] = label.fit_transform(loan_data[col])
    filename = 'label_' + col + '.pkl'
    with open(filename, 'wb') as f :
        pickle.dump(label, f)

----

In [ ]:
#최종 모델 학습

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pickle

from sklearn.svm import SVC #SVC 모델을 부르기 위해 필요한 함수
from sklearn.model_selection import train_test_split #모델을 train과 test로
from sklearn.preprocessing import LabelEncoder #문자열->숫자로 변환해주기 위해 필요한 함수
from sklearn.preprocessing import MinMaxScaler #scaler 해주기 위해 필요한 함수

In [ ]:
loan_data = pd.read_csv('loan.csv')

#123-1) Real system에 필요한 전처리 코드1)
null_dict = {}

null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed']
for col in null_col :
    null_dict[col] = loan_data[col].mode()[0]
    
null_dict['LoanAmount'] = loan_data['LoanAmount'].median()
null_dict['Loan_Amount_Term'] = loan_data['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History'] = loan_data['Credit_History'].mode()[0]

#123-2)
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed']
for col in null_col :
    loan_data[col].fillna(loan_data[col].mode()[0], inplace=True)
    
loan_data['LoanAmount'].fillna(loan_data['LoanAmount'].mode()[0], inplace = True)
loan_data['Loan_Amount_Term'].fillna(loan_data['Loan_Amount_Term'].mode()[0], inplace = True)
loan_data['Credit_History'].fillna(loan_data['Credit_History'].mode()[0], inplace = True)

In [ ]:
#123-1)과 #123-2)를 합침
null_dict = {}
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed']
for col in null_col :
    loan_data[col].fillna(loan_data[col].mode()[0], inplace=True)
    null_dict[col] = loan_data[col].mode()[0]
    
null_dict['LoanAmount'] = loan_data['LoanAmount'].median()
null_dict['Loan_Amount_Term'] = loan_data['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History'] = loan_data['Credit_History'].mode()[0]

loan_data['LoanAmount'].fillna(loan_data['LoanAmount'].mode()[0], inplace = True)
loan_data['Loan_Amount_Term'].fillna(loan_data['Loan_Amount_Term'].mode()[0], inplace = True)
loan_data['Credit_History'].fillna(loan_data['Credit_History'].mode()[0], inplace = True)

In [ ]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

In [ ]:
# 모델을 학습할 때 필요한 코드 및 Realsystem에 필요한 전처리 코드2)
for col in obj_col :
    label = LabelEncoder()
    loan_data[col] = label.fit_transform(loan_data[col])
    filename = 'label_' + col + '.pkl'
   # with open(filename, 'wb') as f : #real_system에서 불러오기 위해서 파일을 저장해야함. 따라서, real 
   #     pickle.dump(label, f)        #

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X = loan_data.drop(['Loan_ID', 'Loan_Status'], axis = 1)
Y = loan_data['Loan_Status']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=0)

In [ ]:
x_train = scaler.fit_transform(x_train)

In [ ]:
x_test = scaler.transform(x_test)

In [ ]:
model2 = SVC()

In [ ]:
model2.fit(x_train, y_train)

In [ ]:
model2.score(x_train, y_train)

In [ ]:
model2.score(x_test, y_test)

In [ ]:
#최종 모델 저장

In [ ]:
with open('model2.pkl', 'wb') as f :
    pickle.dump(model2, f)

---

In [ ]:
*머신러닝 순서
1)null_dict.pkl(필요 없는 값들의 각각의 칼럼 위치에 적절한 값(최빈값 또는 중앙값)으로 대체해주기 위해서 이 작업을 한다.)
2)6가지(filename = 'label_' + col + '.pkl')(문자열->숫자로 치환, 왜? 머신러닝은 컴퓨터가 계산해주는데 그러기 위해서는 문자열로 넣어주면 컴퓨터가 인식을 못함.
                                           그렇기 때문에 문자를 숫자로 변환시켜줘서 컴퓨터가 머신러닝을 할 수 있게 해주어야 한다.)
3)scaler.pkl(스케일(모델 정확도를 높이기 위함)을 해준다.)
4)model2.pkl(학습시킬 모델을 저장한다.)

순서:
0)함수 및 데이터 불러온다.
1)모델을 학습시킬 때 필요한 전처리 -> 모델 학습 -> 모델 저장(model2.pkl)
2)Real system에 필요한 전처리 2가지(null_dict, obj_col)한 후 저장(null_dict.pkl, 6가지(filename = 'label_' + col + '.pkl'))
3)