In [ ]:
# 오전 수업

# Python Comprehension

- List(리스트)
- Set(집합)
- Dict(딕셔너리)

### List Comprehension: 반복되거나 특정 조건을 만족하는 리스트를 보다 쉽게 만들어 내기 위한 방법

[출력표현식 for 요소 in 입력Sequnce [if 조건식]]

In [ ]:
[2 * i for i in range(1, 10)]

In [ ]:
# Quiz1
[Quiz1] List Comprehension을 이용해서 1 ~ 10까지 제곱 출력하기
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
1 * 1
2 * 2
3 * 3
4 * 4
5 * 5
6 * 6
7 * 7
8 * 8
9 * 9
10 * 10

In [ ]:
[i * i for i in range(1, 11)] #Quiz1 정답

In [ ]:
# Quiz2
[Quiz2] 1 ~ 20까지 짝수만 다 넣기

In [ ]:
ret = []
for i in range(1, 21) :
    if i % 2 == 0 :
        ret.append(i)

In [ ]:
ret #Quiz2 정답

In [ ]:
# Quiz3
[Quiz3] List Comprehension을 이용해서 oldlist에서 숫자만 뽑아서 제곱해서 newlist를 만들어라.
예상결과: newlist = [1, 4, 9]

In [ ]:
oldlist = [1, 2, 'A', False, 3]

In [ ]:
[1, 2, 'A', False, 3] -> [1, 2, 3] -> [1 * 1, 2 * 2, 3 * 3] -> [1, 4, 9]

In [ ]:
[i * i for i in (oldlist) if type(i) == int]

In [ ]:
newlist = [i * i for i in oldlist if type(i) == int] #Quiz3 정답

---

In [ ]:
# 혼자 연습

In [ ]:
# 2, 4, 6, 8, 10, 12, 14, 16, 18, 20
a = []
for i in range(1, 11) :
    print(2 * i)
    a.append(i)
    print(a)

In [ ]:
for문 활용하여 구구단 2단 만들기

In [ ]:
2 * 1
2 * 2
2 * 3
2 * 4
2 * 5
2 * 6
2 * 7
2 * 8
2 * 9

In [ ]:
for i in range(1, 10) :
    a = (2 * i)
b = [a]
print(b)

In [ ]:
for i in range(2, 10) :
    for j in range(1, 10):
        print(i * j)

----

In [ ]:
# 혼자 List comprehension 연습

In [ ]:
[i for i in range(10)]

In [ ]:
a = []
for i in range(10) :
    a.append(i)

In [ ]:
a

In [ ]:
[i for i in range(10)]

In [ ]:
a = []
for i in range(10) :
    a.append(i)
    print(a)

In [ ]:
[i * 3 for i in range(1, 10)]

In [ ]:
a = []
for i in range(1, 10) :
    a.append(3 * i)

In [ ]:
a

In [ ]:
[i for i in range(1, 30) if i % 2 == 0] #0~29 중 짝수인 값만 출력하시오. = 2의 배수

In [ ]:
a = []
for i in range(1, 30) :
    if i % 2 == 0 :
        print(i)
        a.append(i)

In [ ]:
a

In [ ]:
#1 ~ 27에서 3으로 나누어 주었을 때, 나머지가 0인 값인 애들을 출력하시오. = 3의 배수
[i for i in range(1, 28) if i % 3 == 0]

In [1]:
# 예제1) 2개의 반복문 사용하기
a = ['a', 'b', 'c', 'd', 'e']
b = ['1', '2', '3', '4', '5']

In [4]:
[i + j for i in a for j in b]

['a1',
 'a2',
 'a3',
 'a4',
 'a5',
 'b1',
 'b2',
 'b3',
 'b4',
 'b5',
 'c1',
 'c2',
 'c3',
 'c4',
 'c5',
 'd1',
 'd2',
 'd3',
 'd4',
 'd5',
 'e1',
 'e2',
 'e3',
 'e4',
 'e5']

In [23]:
# 2개의 반복문 사용하기
c = []
for i in a :
    for j in b:
        c.append(i+j)

In [24]:
c

['a1',
 'a2',
 'a3',
 'a4',
 'a5',
 'b1',
 'b2',
 'b3',
 'b4',
 'b5',
 'c1',
 'c2',
 'c3',
 'c4',
 'c5',
 'd1',
 'd2',
 'd3',
 'd4',
 'd5',
 'e1',
 'e2',
 'e3',
 'e4',
 'e5']

In [60]:
# 2개의 조건문 사용하기
for i in range(50) :
    if i % 2 == 0 :
        print(i, end = ' ')
        print(type(i))

0 <class 'int'>
2 <class 'int'>
4 <class 'int'>
6 <class 'int'>
8 <class 'int'>
10 <class 'int'>
12 <class 'int'>
14 <class 'int'>
16 <class 'int'>
18 <class 'int'>
20 <class 'int'>
22 <class 'int'>
24 <class 'int'>
26 <class 'int'>
28 <class 'int'>
30 <class 'int'>
32 <class 'int'>
34 <class 'int'>
36 <class 'int'>
38 <class 'int'>
40 <class 'int'>
42 <class 'int'>
44 <class 'int'>
46 <class 'int'>
48 <class 'int'>

In [53]:
# 2개의 조건문 사용하기
for i in range(50) :
    if i % 2 == 0 :
        if i % 3 == 0 :
            print(i, end = ' ')
            print(type(i))

0 <class 'int'>
6 <class 'int'>
12 <class 'int'>
18 <class 'int'>
24 <class 'int'>
30 <class 'int'>
36 <class 'int'>
42 <class 'int'>
48 <class 'int'>

In [39]:
[i for i in range(50) if i % 2 == 0 if i % 3 == 0] # 2개의 조건문 사용하기

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [61]:
# 조건문에서 else 사용하기 *****
['even' if i % 2 == 0 else 'odd' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [66]:
for i in range(10) :
    print(i)
    if i % 2 == 0 :
        print('even', end = ' ')
    else :
        print('odd', end = ' ')

0
even 1
odd 2
even 3
odd 4
even 5
odd 6
even 7
odd 8
even 9
odd

In [82]:
# 조건문에서 elif 사용하기 ***** 왜 i가 0일 때 'zero'가 출력이 안되나? 앞에 조건(if i % 2 == 0 조건에 만족하여, 여기에 해당하는 'even'을 출력하게 되므로 'zero'가 출력이 되지 않는다.
['even' if i % 2 == 0 / else 'zero' if i == 0 / else 'odd' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [92]:
# 조건문에서 elif 사용하기 *****
for i in range(10) :
    if i % 2 == 0 :
        print('even', end = ' ')
    elif i == 0 :
        print('zero', end = ' ')
    else :
        print('odd', end = ' ')

even odd even odd even odd even odd even odd

In [88]:
['zero' if i == 0 else 'even' if i % 2 == 0 else 'odd' for i in range(10)]

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [89]:
for i in range(10) :
    if i == 0 :
        print('zero', end = ' ')
    elif i % 2 == 0 :
        print('even', end = ' ')
    else :
        print('odd', end = ' ')

zero odd even odd even odd even odd even odd

In [93]:
['one' if i == 1 / else 'two' if i == 2 / else 'three' if i == 3 / else 'four' if i == 4 / else 'hum' 
 for i in range(10)]

['hum', 'one', 'two', 'three', 'four', 'hum', 'hum', 'hum', 'hum', 'hum']

In [100]:
for i in range(10) :
    if i == 1 :
        print('one', end = ' ')
    elif i == 2 :
        print('two', end = ' ')
    elif i == 3 :
        print('three', end = ' ')
    elif i == 4:
        print('four', end = ' ')
    else :
        print('hum', end = ' ')

hum one two three four hum hum hum hum hum

---

# Set Comprehension (집합)

In [102]:
oldlist = [1, 1, 2, 3, 3, 4]

In [103]:
{i * i for i in oldlist}

{1, 4, 9, 16}

In [ ]:
# 혼자 연습

In [109]:
oldlist = [1, 1, 1, 1, 1,1,1,1,1,1,1,1,1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [111]:
{i for i in oldlist}

{1, 2, 3, 4, 5}

---

# Dictionary Comprehension (딕셔너리) *****

In [ ]:
{Key:Value for 요소 in 입력Sequence [if 조건식]}

In [232]:
id_name = {1:'남성헌', 2:'고상현', 3:'윤승현'}

In [ ]:
이름 -> key / 숫자 -> value

In [ ]:
a = {value : key for key, value in id_name.items()}

In [ ]:
a

In [ ]:
# 혼자 다시 연습

In [113]:
name_id = {1:'남성현', 2:'고상현', 3:'윤승현'}

In [124]:
name_id

{1: '남성현', 2: '고상현', 3: '윤승현'}

In [120]:
name_id.items()

dict_items([(1, '남성현'), (2, '고상현'), (3, '윤승현')])

In [121]:
#이름을 key, 숫자를 value로 바꾸시오.
a = {value : key for key, value in name_id.items()}

In [122]:
a

{'남성현': 1, '고상현': 2, '윤승현': 3}

In [175]:
#Dict comprehension 예제 1) 
students = ['철수', '영희', '길동', '순희']
{student: 0 for student in students}

{'철수': 0, '영희': 0, '길동': 0, '순희': 0}

In [176]:
#Dict comprehension 예제 1-1) 
students = ['철수', '영희', '길동', '순희']
{student: _ for student, _ in (students)}

{'철': '수', '영': '희', '길': '동', '순': '희'}

In [178]:
#Dict comprehension 예제 1-1) 
fruits = ['사과', '포도', '자두', '수박']
{fruit: _ for fruit, _ in (fruits)}

{'사': '과', '포': '도', '자': '두', '수': '박'}

In [177]:
#Dict comprehension 예제 1-2) 각 학생들 순서 매기기
students = ['철수', '영희', '길동', '순희']
{student: index for index, student in enumerate(students, start= 1)}

{'철수': 1, '영희': 2, '길동': 3, '순희': 4}

In [195]:
#Dict comprehension 예제 1-2) 각 학생들 순서 매기기
a = {}
for index, student in enumerate(students, start = 1) :
    a[student] = index

In [196]:
a

{'철수': 1, '영희': 2, '길동': 3, '순희': 4}

In [208]:
# 전학 간 학생 제거
scores = {'철수': 50, '영희': 80, '길동':90, '순희': 60, '전학생':100}
scores = {name: score for name, score in scores.items() if name != '전학생'}
print(scores)

{'철수': 50, '영희': 80, '길동': 90, '순희': 60}

In [209]:
# 전학 간 학생 제거
for name, score in scores.items() :
    if name != '전학생' :
        print({name : score}, end = ',')
        scores[name] = score

{'철수': 50},{'영희': 80},{'길동': 90},{'순희': 60},

In [210]:
scores

{'철수': 50, '영희': 80, '길동': 90, '순희': 60}

In [211]:
# 통과, 불통과
grades = {name: 'PASS' if value > 70 else 'No-PASS' for name, value in scores.items()}

In [212]:
grades

{'철수': 'No-PASS', '영희': 'PASS', '길동': 'PASS', '순희': 'No-PASS'}

In [229]:
for name, value in scores.items() :
    if value > 70 :
        print({name: 'PASS'}, end = ',')
    else :
        print({name: 'No-PASS'}, end = ',')
        scores[name] = value

{'철수': 'No-PASS'},{'영희': 'PASS'},{'길동': 'PASS'},{'순희': 'No-PASS'},

In [230]:
scores

{'철수': 50, '영희': 80, '길동': 90, '순희': 60}

---

In [ ]:
# 혼자 연습

In [233]:
id_name.items()

dict_items([(1, '남성헌'), (2, '고상현'), (3, '윤승현')])

In [234]:
for i, j in id_name.items() :
    print(i, j)
    new_id_name = {j: int(i)}
    print(new_id_name)
a = new_id_name.items()

1 남성헌
{'남성헌': 1}
2 고상현
{'고상현': 2}
3 윤승현
{'윤승현': 3}

In [235]:
# 다시
name_id = {}
for key, value in id_name.items() :
    print(key, value)
    name_id[value] = key
    print(name_id)

1 남성헌
{'남성헌': 1}
2 고상현
{'남성헌': 1, '고상현': 2}
3 윤승현
{'남성헌': 1, '고상현': 2, '윤승현': 3}

In [236]:
name_id

{'남성헌': 1, '고상현': 2, '윤승현': 3}

---

In [258]:
name_id = {1:'남성헌', 2:'고상현', 3:'윤승현'}

In [259]:
name_id

{1: '남성헌', 2: '고상현', 3: '윤승현'}

In [260]:
a = {key : val for val, key in name_id.items()}

In [261]:
a

{'남성헌': 1, '고상현': 2, '윤승현': 3}

In [273]:
a.keys()

dict_keys(['남성헌', '고상현', '윤승현'])

In [274]:
a.values()

dict_values([1, 2, 3])

In [265]:
[key for key, val in a.items() if val == 2]

['고상현']

In [266]:
[key for key, val in a.items() if val == 2][0]

'고상현'

In [268]:
for key, val in a.items() :
    if val == 2 :
        print(key)

고상현

In [262]:
# List Comprehension을 사용해서 name_id에서 val가 2인 key를 출력하시오.
[key for key, val in a.items() if val == 2]
[key for key, val in a.items() if val == 2][0]

'고상현'

---

In [ ]:
{Key:Value for 요소 in 입력Sequence [if 조건식]}

In [ ]:
# Quiz
[Quiz] Comprehension을 이용하여 1부터 10까지 홀수를 key로 하고, value를 key의 제곱으로 하는 Dict 만들기

In [276]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [277]:
b = {1:1*1, 2:2*2, 3:3*3, 4:4*4, 5:5*5, 6:6*6, 7:7*7, 8:8*8, 9:9*9, 10:10*10}

In [278]:
for i in a :
    if i % 2 != 0 :
        print(i)
        print(i * i)

1
1
3
9
5
25
7
49
9
81

In [279]:
{i : i * i for i in a  if i % 2 != 0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

---

# Partial
## 매개 변수가 1개인 함수에 여러 매개변수를 전달해야 할 때 많이 사용

In [280]:
def double(x) :
    return x ** 2

def triple(x) :
    return x ** 3

In [281]:
print(double(2))
print(triple(2))

4
8

In [282]:
def multiple(x, y) :
    return x ** y

In [283]:
multiple(2, 2)

4

In [284]:
multiple(2, 3)

8

In [285]:
from functools import partial

In [286]:
dbl = partial(multiple, y = 2)
tpl = partial(multiple, y = 3)

In [287]:
dbl(2)

4

In [288]:
tpl(3)

27

In [289]:
def multiple(x, y, z) :
    return x ** y ** z

In [290]:
dbl = partial(multiple, y = 2, z = 2)
tpl = partial(multiple, y = 3, z = 3)

In [291]:
dbl(2)

16

In [292]:
tpl(3)

7625597484987