# 221103(목) 수업내용 (공공데이터 한국승강기공단 자료를 이용한 '1.eleveinfo_221103(목)'  
## 수업내용:  
### 문제: 주소1, 주소2, 건물명, 승강기번호, 승강기상태, 최종검사일, 적재하중, 제조업체전화번호이 포함된 200개의 데이터를 데이터 프레임화 시키시오.

In [ ]:
#문제1)

## 주소1, 주소2, 건물명, 승강기번호, 승강기상태, 최종검사일, 적재하중, 제조업체전화번호

# 데이터 전체 200개 불러오기

-------

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = []
for page in range(1, 3): 
    url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList'
    serviceKey = '0kYXnKBN3P1BPz+PbMj53+Xf9Lasd9mZvYohzWDq+10Tagyqazw0pf62r0VMYgKLZZednlK4k5uPA6V49OvEcw=='
    numOfRows = '100'
    pageNo = page
    sido = '서울특별시'
    sigungu = '은평구'

    params = {'serviceKey' : serviceKey, 'numOfRows' : numOfRows, 'pageNo' : pageNo, 'sido':sido, 'sigungu':sigungu }
    req = requests.get(url, params=params,verify=False)
    soup = BeautifulSoup(req.text,'lxml')
    col_list = ['address1', 'address2', 'buldNm', 'elevatorNo', 'elvtrStts','lastInspctDe', 'liveLoad', 'manufacturerTelno']
    
    for item in soup.items :
        temp = []
        for col in col_list :
            try :
                temp.append(item.select(col)[0].text)
            except :
                temp.append('')
        data.append(temp)

In [3]:
df = pd.DataFrame(data, columns = col_list)

In [4]:
df.shape

(200, 8)

In [5]:
df.to_csv('elevInfo.csv', index = False, encoding='euc-kr')

In [6]:
df

,address1,address2,buldNm,elevatorNo,elvtrStts,lastInspctDe,liveLoad,manufacturerTelno
0,서울특별시 은평구 연서로 71,(역촌동),(재)살림이,0081201,운행중,2022-05-24,550 KG,055-269-4114
1,서울특별시 은평구 통일로71길 16,(대조동),(주)KT 은평지사,0042569,운행중,2022-10-11,1150 KG,055-289-8235
2,서울특별시 은평구 통일로71길 16,(대조동),(주)KT 은평지사,0042570,운행중,2022-10-11,1150 KG,055-289-8235
3,서울특별시 은평구 은평로13길 12-1,해명빌딩 (녹번동),(주)녹번해명(해명빌딩),0104893,운행중,2022-11-03,1150 KG,043-722-1000
4,서울특별시 은평구 은평로13길 12-1,해명빌딩 (녹번동),(주)녹번해명(해명빌딩),0004213,운행중,2022-11-03,2000 KG,032-815-7871
...,...,...,...,...,...,...,...,...
195,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0155005,운행중,2022-07-11,1000 KG,043-722-1000
196,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0154984,운행중,2022-06-15,1000 KG,043-722-1000
197,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0154985,운행중,2022-06-15,1000 KG,043-722-1000
198,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0155230,운행중,2022-10-31,1000 KG,043-722-1000
199,서울특별시 은평구 수색동 115-5,(수색동),DMC파인시티,0155231,운행중,2022-10-31,1000 KG,043-722-1000

----

In [ ]:
url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList?serviceKey=BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D&numOfRows=10&pageNo=1&sido=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C&sigungu=%EC%9D%80%ED%8F%89%EA%B5%AC'

In [ ]:
req = requests.get(url)

In [ ]:
soup = BeautifulSoup(req.text, 'xml')

In [ ]:
url = 'http://apis.data.go.kr/openapi/service/ElevatorInformationService/getElevatorList'
serviceKey = 'BAc5c+7CgdSM2dp9F0gq/N7FR4TwTghq+zHtk7BmmX+588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk/O/6gUg=='
numOfRows = '20'
pageNo = '1'
sido= '서울특별시' #'%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C'
sigungu= '은평구' #'%EC%9D%80%ED%8F%89%EA%B5%AC'

In [ ]:
params = {'serviceKey': serviceKey, 'numOfRows': numOfRows, 'pageNo': pageNo, 'sido': sido, 'sigungu': sigungu}

In [ ]:
req = requests.get(url, params = params, verify = False)

In [ ]:
soup = BeautifulSoup(req.text, 'lxml')

In [ ]:
col_list = ['address1', 'address2','buldNm', 'elevatorNo', 'elvtrStts', 'lastInspctDe', 'liveLoad', 'manufacturerTelno']

In [ ]:
data = []
for col in col_list :
    temp = []
    for d in soup.select(col) :
        temp.append(d.text)
    data.append(temp)

In [ ]:
df = pd.DataFrame(data).T

In [ ]:
df.columns = col_list

In [ ]:
df

In [ ]:
for col in col_list :
    print(col, len(soup.select(col)))

In [ ]:
# 위 데이터 프레임은 19번째 인덱스에서의 'manufacturerTelno'가 None이 되어 데이터 값이 날라감. 그래서 망한 데이터 프레임임.

In [ ]:
# 망한 데이터 프레임을 다시 살리는 방법

In [ ]:
for item in soup.items :
    print(item)
    print('------')

In [ ]:
soup.item.select('address1')

In [ ]:
# 방법2

In [ ]:
col_list = ['address1', 'address2','buldNm', 'elevatorNo', 'elvtrStts', 'lastInspctDe', 'liveLoad', 'manufacturerTelno']

In [ ]:
col_list = ['address1', 'address2','buldNm', 'elevatorNo', 'elvtrStts', 'lastInspctDe', 'liveLoad', 'manufacturerTelno']
data = []
for item in soup.items :
    temp = []
    for col in col_list :
        try :
            temp.append(item.select(col)[0].text)
        except :
            temp.append('')
    data.append(temp)

In [ ]:
df = pd.DataFrame(data, columns = col_list)

In [ ]:
df

In [ ]:
#'예외처리' 하는 방법: try / except

In [ ]:
#예외 처리 방법 예시1)
a = 1
b = '2'
try :
    print('try 시작')
    c = a + b
    print('try 끝')
except :
    print('except 시작')
    c = a + int(b)
print(c)

In [ ]:
#예외 처리 방법 예시2
a = 1
b = 2
try :
    print('try 시작')
    c = a + b
    print('try 끝')
except :
    print('except 시작')
    c = a + int(b)
print(c)

In [ ]:
# 방법1

In [ ]:
data = []
for item in soup.items :
    temp = []
    for v in item :
        temp.append(v.text.strip())
    data.append(temp)

In [ ]:
col_list = []
for i in soup.item :
    col_list.append(i.name)

In [ ]:
df = pd.DataFrame(data, columns = col_list)

In [ ]:
df

In [ ]:
df.iloc[9]