In [ ]:
# Real system

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
loan_real = ['LP001345', None, 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [3]:
loan_real = np.asarray(loan_real).reshape(1, -1)

In [4]:
loan_df = pd.DataFrame(loan_real, columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [5]:
loan_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,None,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [6]:
with open('null_dict.pkl', 'rb') as f :
    null_dict = pickle.load(f)

In [7]:
null_col = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
for col in null_col :
    loan_df[col].fillna(null_dict[col], inplace=True)

In [8]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [9]:
loan_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [10]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

In [11]:
for col in obj_col :
    filename = 'label_' + col + '.pkl'
    #print(filename)
    with open(filename, 'rb') as f :
         label = pickle.load(f)
    loan_df[col] = label.transform(loan_df[col])

In [12]:
loan_df.drop('Loan_ID', axis = 1, inplace = True)

In [13]:
loan_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2

In [14]:
with open('scaler.pkl', 'rb') as f :
    scaler = pickle.load(f)

In [15]:
loan_df = scaler.transform(loan_df)

In [16]:
with open('model2.pkl', 'rb') as f :
    model2 = pickle.load(f)

In [17]:
predict = model2.predict(loan_df)

In [18]:
if predict == 'Y' :
    print('대출 승인!!!!')
else :
    print('대출 거절 ㅠㅠ')

대출 승인!!!!