In [7]:
import pandas as pd
import numpy as np

In [8]:
train = pd.read_csv('titanic/train.csv')

In [9]:
test = pd.read_csv('titanic/test.csv')

In [10]:
print(train.shape, test.shape) #test 데이터 프레임에는 'Survived'의 속성이 없기 때문에 11개임

(891, 12) (418, 11)

In [11]:
train_test_dataset = [train, test]

In [12]:
for data in train_test_dataset :
    data['Title'] = data['Name'].str.extract('([a-zA-Z]+)\.') 
    data['Title'] = data['Title'].str.lower()
    
    data['Title'] = np.where(data['Title'] == 'mr', 0, 
                           np.where(data['Title'] == 'miss', 1, 
                                    np.where(data['Title'] == 'mrs', 2, 3)))
    
    data['Age'] = data['Age'].fillna(data.groupby('Title')['Age'].transform('median'))
    
    data['Age'] = np.where(data['Age'] <= 16, 0, 
                             np.where(data['Age'] <= 26, 1,
                                      np.where(data['Age'] <= 36, 2,
                                               np.where(data['Age'] <= 62, 3, 4))))
    
    data['Embarked'].fillna('S', inplace=True)
    
    data['Embarked'] = np.where(data['Embarked'] == 'S', 0,
                              np.where(data['Embarked'] == 'C', 1, 2))
    
    data['Cabin'] = data['Cabin'].str[0]
    
    cabin_mapping = {'A': 0.0, 'B': 0.4, 'C': 0.8, 'D': 1.2, 'E': 1.6, 'F': 2.0, 'G': 2.4, 'T': 2.8}
    
    data['Cabin'] = data['Cabin'].map(cabin_mapping)
    data['Cabin'].fillna(data.groupby('Pclass')['Cabin'].transform('median'), inplace=True)
    
    data['Sex'] = data['Sex'].map({'male':0, 'female':1})
    
    data['Fare'].fillna(data.groupby('Pclass')['Fare'].transform('median'), inplace=True)
    data['Fare'] = np.where(data['Fare'] <= 17, 0, 
                          np.where(data['Fare'] <= 30, 1, 
                                   np.where(data['Fare'] <= 100, 2, 3)))
    
    data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
    family_mapping = {1: 0.0, 2: 0.4, 3: 0.8, 4: 1.2, 5: 1.6, 6: 2.0, 7: 2.4, 8: 2.8, 9: 3.2, 10: 3.6, 11: 4.0}
    data['FamilySize'] = data['FamilySize'].map(family_mapping)

In [13]:
features_drop = ['PassengerId', 'Name', 'Ticket', 'SibSp', 'Parch']

In [14]:
train = train.drop(features_drop, axis = 1)

In [15]:
test = test.drop(features_drop, axis = 1)

In [16]:
train.head(1)

   Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0         0       3    0    1     0    2.0         0      0         0.4

In [17]:
test.head(1)

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0    2     0    2.0         2      0         0.0

In [18]:
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
Fare          0
Cabin         0
Embarked      0
Title         0
FamilySize    0
dtype: int64

In [19]:
test.isnull().sum()

Pclass        0
Sex           0
Age           0
Fare          0
Cabin         0
Embarked      0
Title         0
FamilySize    0
dtype: int64