# 찬웅님 문제1

1. '고소득층(high_income)으로 분류되는 남성과 여성 각각의 생존율을 구하고, 그 수치를 막대 그래프를 이용하여 시각화하시오.'¶
(단, 고소득층(high_income)은 'Fare'가 전체 승객 내에 상위 25% 안에 들며, 'Pclass'가 1등급인 사람을 지칭한다.)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('titanic/train.csv')

In [ ]:
train

In [ ]:
train.info()

In [ ]:
train.describe()

In [ ]:
train[(train['Fare'] >= train['Fare'].quantile(q = 0.75)) & (train['Pclass'] == 1)].sort_values(by = 'Fare', ascending = False)

In [ ]:
# 고소득층(high_income)으로 분류 -> 이 부분 풀 때 시간이 오래걸렸음. why? ('Fare'가 전체 승객 내에 상위 25%) 이 부분 때문에 오래걸림 ㅠㅠ

In [ ]:
high_income = train[(train['Fare'] >= train['Fare'].quantile(q = 0.75)) & (train['Pclass'] == 1)].sort_values(by = 'Fare', ascending = False)

In [ ]:
high_income

In [ ]:
#'고소득층(high_income)으로 분류되는 남성의 생존율:  34.666667
# 고소득층(high_income)으로 분류되는 여성의 생존율:  97.701149

In [ ]:
hmw = high_income.groupby('Sex')['Survived'].mean() * 100 # 이 부분은 그룹핑 방법에 대해 다시 살펴봐야함.

In [ ]:
hmw

In [ ]:
#막대 그래프

In [ ]:
hmw.plot.bar();

In [ ]:
hmw.plot(legend=True);

# 찬웅님 문제2

Titanic'모델을 바탕으로, Titanic모델의 'Fare'값에 <이상치>가 있음을 확인하고,
이상치를 제거한 'Fare'데이터를 상위계층('A') (Fare값이 전체 데이터내 66%~100%에 해당), 중위계층('B') (33%~66%), 하위계층('C') (0~33%) 으로 나눈다 했을 때,
각 계층별 생존율을 구하고, 이를 가시화 하고 결과를 해석해보시오.

<이상치> =
iqr = (사분위 범위 ; 1사분위와 3사분위 사이의 거리)
[(하위25% 값) - (iqr * 1.5)] < X < [(상위25% 값) - (iqr * 1.5)]
위 식을 만족하는 X값을 실데이터로 분류하고, 위 식을 만족하지 않는 X값들을
이상치로 분류한다.
hint ) 사분위값을 넣을 때,   .quantile(.구간값)을 사용하면 편함.
예) data.quantile(.25) = 데이터의 하위 25% 위치 값 (편집됨)

In [ ]:
train

In [ ]:
train['Fare'].mean()

In [ ]:
train['Fare'].median()

In [ ]:
train['Fare'].max()

In [ ]:
train['Fare'].min()

In [ ]:
train['Fare'].sort_values(ascending=True)

# 1번 풀 때 고민 했던 부분

In [ ]:
train['Fare'].quantile(q = 0.25)

In [ ]:
num = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
num

In [ ]:
# 'Fare'가 전체 승객 내에 상위 25%, Pclass가 1등급인 사람

In [ ]:
train_ftf = (train['Fare'] == 0.25) & (train['Pclass'] == 1)

In [ ]:
train_ftf.sum()

In [ ]:
train

In [ ]:
# 'Fare'가 전체 승객 내에 상위 25%, Pclass가 1등급인 사람

In [ ]:
train[(train['Fare'] == 0.25) & (train['Pclass'] == 1)]

In [ ]:
고소득별 남자, 여자

In [ ]:
train.groupby('Fare')[['Sex']].sum()

In [ ]:
train['Sex'].value_counts() # 'male':0, 'female':1

In [ ]:
# 'Fare'가 전체 승객 내에 상위 25%
Fare_twenty_five = train['Fare'] * 0.25

In [ ]:
Fare_twenty_five.value_counts()

In [ ]:
# Pclass가 1등급인 사람: 216명

In [ ]:
train['Pclass'].value_counts()[1]

In [ ]:
train.describe()

In [ ]:
train['Fare'].describe()

# 예진 문제

2. 'Age'의 null 값을 성별 중앙값으로 채워 'Age2'에 저장한 다음 0~9세 'kids' , 10~19세 'teens' , 20~29세 '20s' , 30~39세 '30s' , 40~49세 '40s' , 50세이상 'over 50s'로 묶어서 'Age_group'에 저장하세요. 
그리고 'Pclass'의 'Age_group'그룹별로 생존율을 구하세요.

1) 'Age'의 null 값을 성별 중앙값으로 채워 'Age2'에 저장하시오.
2) 0~9세 'kids' , 10~19세 'teens' , 20~29세 '20s' , 30~39세 '30s' , 40~49세 '40s' , 50세이상 'over 50s' 묶으시오.
3) 'Pclass'의 'Age_group'그룹별로 생존율을 구하세요.

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('titanic/train.csv')

In [ ]:
train['Age3'] = train['Age'].copy()

In [ ]:
train[['Age']]

In [ ]:
train['Sex2'] = train['Sex'].copy()

In [ ]:
train['Sex']

In [ ]:
train.groupby('Sex2')['Age2'].mean()

In [ ]:
train['Age3']

In [4]:
train['Age2'] = train['Age'].fillna(train.groupby('Sex')['Age'].transform('median'))

In [6]:
tmp_df = train[['Age','Age2','Sex']]

In [13]:
#tmp_df[tmp_df['Age'].isnull()].groupby('Sex').mean()
tmp2_df = tmp_df[tmp_df['Age'].isnull()]

In [12]:
train.groupby('Sex')['Age'].median()

Sex
female    27.0
male      29.0
Name: Age, dtype: float64

In [20]:
train.groupby('Sex')['Age'].transform('median')

0      29.0
1      27.0
2      27.0
3      27.0
4      29.0
       ...
886    29.0
887    27.0
888    27.0
889    29.0
890    29.0
Name: Age, Length: 891, dtype: float64

In [21]:
train["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
train['Age2'].isnull().sum()

In [ ]:
train['Age2'].median()

In [ ]:
# 1) 'Age'의 null 값을 성별 중앙값으로 채워 'Age2'에 저장하시오. (0)

In [ ]:
train[['Age', 'Age2']]

In [ ]:
# 2) 0~9세 'kids' , 10~19세 'teens' , 20~29세 '20s' , 30~39세 '30s' , 40~49세 '40s' , 50세이상 'over 50s' 묶으시오. (0)

In [ ]:
train['Age_group'] = np.where(train['Age2'] <=9, 'kids',
                     np.where(train['Age2'] <= 19, 'teens', 
                                    np.where(train['Age2'] <= 29, '20s',
                                            np.where(train['Age2'] <= 39, '30s',
                                                    np.where(train['Age2'] <= 49, '40s', 'over 50s')))))

In [ ]:
train

In [ ]:
train['Age_group'].value_counts()

In [ ]:
# 3) 'Pclass'의 'Age_group'그룹별로 생존율을 구하세요.

In [ ]:
train.groupby(['Pclass', 'Age_group'])['Survived'].mean()