In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('midwest.csv')

In [ ]:
data

In [ ]:
data.head()

In [ ]:
# p130 문제2번

midwest = midwest.rename({'poptotal':'total', 'popasian':'asian' }, axis=1)
midwest = midwest.rename({'poptotal':'total', 'popasian':'asian' }, axis=1, inplace = True)
midwest = midwest.rename(columns = {'poptotal':'total', 'popasian':'asian' })

In [ ]:
data.rename({'poptotal':'total', 'popasian':'asian' }, axis=1, inplace = True)

In [ ]:
data

# 3

In [ ]:
midwest['percent'] = midwest['asian'] / midwest['total']) * 100

In [ ]:
x = (data['asian'] / data['total']) * 100

In [ ]:
x

In [ ]:
data['var_mean'] = x

In [ ]:
data

# 4

In [ ]:
x.mean()

In [ ]:
midwest['percent'].mean()

In [ ]:
midwest['size'] = np.where(midwest['percent'] > midwest['percent'].mean(),
                           'large', 'small')

In [ ]:
midwest['size'].value_counts()

In [ ]:
def isAverage(percent, mean) :
    if percent > mean :
        return 'large'
    return 'small'

In [ ]:
midwest['size2'] = \
x.apply(isAverage, args=[x.mean()])

In [ ]:
midwest['size2'].value_counts()

In [ ]:
import pandas as pd

In [ ]:
list_var = ['a', 'b', 'c', 'd']

In [ ]:
type(list_var)

In [ ]:
series_var = pd.Series(list_var, index = [1, 2, 3, 4])

In [ ]:
series_var

In [ ]:
type(series_var)

In [ ]:
series_var2 = pd.Series({1:'a', 2:'b', 3:'c', 4:'d'})

In [ ]:
series_var2

In [ ]:
series_var2[2]

In [ ]:
type(series_var2)

In [ ]:
import numpy as np

In [ ]:
data = [[1,2,3], [4,5,6], [7,8,9]]

a = np.array(data)
a

In [ ]:
a.dtype

In [ ]:
type(a)

In [ ]:
a.astype(np.

In [1]:
import pandas as pd

In [22]:
df = pd.DataFrame({'name' :['김지훈', '이유진', '박동현', '김민지', '홍길동', '박명수', '유재석'],
                   'english' :[90, 80, 60, 70, 80, 90, None],
                   'math' : [50, 60, 100, 20, 30, 40, 50]})

In [23]:
df

  name  english  math
0  김지훈     90.0    50
1  이유진     80.0    60
2  박동현     60.0   100
3  김민지     70.0    20
4  홍길동     80.0    30
5  박명수     90.0    40
6  유재석      NaN    50

In [24]:
df['english'][0]

90.0

In [25]:
df.astype

<bound method NDFrame.astype of   name  english  math
0  김지훈     90.0    50
1  이유진     80.0    60
2  박동현     60.0   100
3  김민지     70.0    20
4  홍길동     80.0    30
5  박명수     90.0    40
6  유재석      NaN    50>

In [26]:
df.head()

  name  english  math
0  김지훈     90.0    50
1  이유진     80.0    60
2  박동현     60.0   100
3  김민지     70.0    20
4  홍길동     80.0    30

In [27]:
df.tail()

  name  english  math
2  박동현     60.0   100
3  김민지     70.0    20
4  홍길동     80.0    30
5  박명수     90.0    40
6  유재석      NaN    50

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     7 non-null      object
 1   english  6 non-null      float64
 2   math     7 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 296.0+ bytes